<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Panel</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include("./partials/side-panel.ejs") %>
        <section id="interface">
            <%- include("./partials/search-bar.ejs") %>
                <div id="dynamic-content">
                    <h3 class="i-name">
                        Dashboard
                    </h3>
                    
                    <div class="values">
                        <div class="val-box">
                            <i class="fas fa-users"></i>
                            <div>
                                <h3>
                                    <%=userCount%>
                                </h3>
                                <span>New Users</span>
                            </div>
                        </div>
                        <div class="val-box">
                            <i class="fas fa-shopping-cart"></i>
                            <div>
                                <h3>
                                    <%=rowCount%>
                                </h3>
                                <span>Total Medicine/s</span>
                            </div>
                        </div>
                        <div class="val-box">
                            <i class="fas fa-acorn"></i>
                            <div>
                                <h3>
                                    <%=latestMedicine%>
                                </h3>
                                <span>Most Recent Review</span>
                            </div>
                        </div>
                    </div>
                    
                    <dir class="board">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Composition</td>
                                    <td>Uses</td>
                                    <td>Side Effects</td>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const medicine of latestNineMeds) { %>
                                    <tr>
                                        <td class="people">
                                            <div class="people-de">
                                                <h5>
                                                    <%= medicine['Medicine Name'] %>
                                                </h5>
                                                <p>
                                                    <%= medicine.Manufacturer %>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= medicine.Composition %>
                                            </h5>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= medicine.Uses %>
                                            </h5>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= medicine.Side_effects %>
                                            </h5>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                    
                        </table>
                    </dir>
                </div>
        </section>      
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</html>