<% const displayLimit=20 %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Control Panel</title>
        <base href="/">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="icon" href="img/favicon.png">
        <link rel="stylesheet" href="css/dashboard.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <%- include("./partials/side-panel.ejs") %>
            <section id="interface">
                <%- include("./partials/search-bar.ejs") %>
                    <h3 class="i-name">Manage Medicine</h3>
                    <div class="medicine">
                        <form id="addMedicineForm" class="add-medicine" enctype="multipart/form-data">
                            <div class="half left cf">
                                <input type="text" id="medicineName" name="medicineName" placeholder="Medicine Name">
                                <input type="text" id="medicineType" name="medicineType" placeholder="Medicine Type">
                                <input type="text" id="composition" name="composition" placeholder="Composition">
                                <input type="text" id="uses" name="uses" placeholder="Uses">
                            </div>
                            <div class="half right cf">
                                <input type="text" id="sideEffects" name="sideEffects" placeholder="Side Effects">
                                <input type="text" id="manufacturer" name="manufacturer" placeholder="Manufacturer">
                                <input type="number" id="price" name="price" placeholder="Price (EGP)">
                                <input type="number" id="quantity" name="quantity" placeholder="Quantity">
                            </div>
                            <div class="full cf">
                                <input type="submit" value="Add Medicine" id="input-submit">
                            </div>
                            <div id="error-message" style="color: red;"></div>
                        </form>
                        <div class="add-med-option">
                            <form id="addMedicineOption" class="add-medicine-option">
                                    <input type="text" id="option-name" name="option-name" placeholder="Option Name">
                                    <div id="optionResult" class="optionResult"></div>
                                    <input type="text" id="option-id" name="option-id" placeholder="Option ID">
                                    <input type="text" id="med-id" name="med-id" placeholder="Medicine ID">
                                    <input type="text" id="option-value" name="option-value" placeholder="Value for Option">
                                <div class="full cf">
                                    <input type="submit" value="Add Option" id="submit-option">
                                </div>
                                <div id="error-message-option" style="color: red;"></div>
                            </form>
                        </div>
                    </div>
                    <div id="table-of-medicines">
                        <dir class="board">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Medicine Name</td>
                                        <td>Medicine Type</td>
                                        <td>Composition</td>
                                        <td>Uses</td>
                                        <td>Side Effects</td>
                                        <td>Image</td>
                                        <td>Manufacturer</td>
                                        <td>Price</td>
                                        <td>Quantity</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i < Math.min(allMedicines.length, displayLimit); i++) { %>
                                        <tr>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i]['Medicine Name'] %>
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].medicine_type %>
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].Composition %>
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].Uses %>
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].Side_effects %>
                                                </h5>
                                            </td>
                                            <td>
                                                <img src="<%= allMedicines[i]['Image URL'] || 'placeholder-image-url.jpg' %>"
                                                    alt="Medicine Image" width="50">
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].Manufacturer %>
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].Price %> EGP
                                                </h5>
                                            </td>
                                            <td>
                                                <h5>
                                                    <%= allMedicines[i].Quantity %>
                                                </h5>
                                            </td>
                                            <td>
                                                <a href="/deleteMedicine/<%= allMedicines[i].id %>"
                                                    style="text-decoration: none;">Delete</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </dir>
                    </div>
            </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/handleMedicine.js"></script>

    </html>