<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/medicine-display.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
</head>

<body>
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <%- include("./partials/nav.ejs") %>
        <div class="product-wrapper">
            <div class="product">
                <!-- card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <% if (dosageForm.includes('TABLET')) { %>
                            <img src="img/pills.jpg" alt="Tablet Image">
                            <% } else { %>
                                <img src="img/syrup.jpg" alt="Other Image">
                                <% } %>

                    </div>
                </div>
                <!-- card right -->
                <div class="product-content">
                    <a href="/search" class="product-link" style="color: white;">← BACK</a>
                    <h2 class="product-title">
                        <%=genericName%>
                    </h2>
                    <div class="product-price">
                        <p class="last-price">Brand Name: <span>
                                <%=brandName%>
                            </span></p>
                        <p class="new-price">Manafacturer Name: <span>
                                <%=manufacturerName%>
                            </span></p>
                    </div>

                    <div class="product-detail">
                        <h2 style="text-decoration: underline;">about this item: </h2>
                        <h4>Active Ingredients in <%=name%>: </h4>
                        <ul>
                            <% activeIngredients.forEach(function(ingredient) { %>
                                <li>
                                    - <%= ingredient %>
                                </li>
                                <% }); %>
                        </ul>
                        <h4>Description in Packaging: </h4>
                        <p>
                            - <%=descriptionInPackaging%>
                        </p>
                        <h4>Route For Usage: </h4>
                        <p>
                            - <%=route%>
                        </p>
                    </div>
                    <div class="purchase-info">
                        <input type="number" min="0" value="1">
                        <button type="button" class="btn">
                            Add to Cart <i class="fas fa-shopping-cart"></i>
                        </button>
                        <button type="button" class="btn">Compare</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./partials/footer.ejs") %>

</body>
<script src="js/script.js"></script>
<!-- jquery Min JS -->
<script src="js/jquery.min.js"></script>

<script src="js/main.js"></script>

</html>